---
siteName: Knowing Root Vegetables
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{siteName}} | {{ title }}</title>
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
  <link rel="stylesheet" href="/css/nav_style.css">


</head>
<body>
  <header class="site-header">
        <!-- add site wide header content here -->
        {% include "nav.njk" %}
    </header>

  {{ content | safe }}

  
  <footer class="footer"><p class="footer">Dingyu, Sebastian & Xenia &copy; 2021.</p>
</footer>

  <script src="/js/main.js"></script>
</body>
</html>